In [1]:
import pandas as pd
import numpy as np

%matplotlib inline

In [2]:
df = pd.read_csv('./merged_info_data.tsv',sep='\t',index_col='Unnamed: 0')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34992 entries, 0 to 34991
Data columns (total 65 columns):
hour                     34992 non-null int64
climate                  34992 non-null object
weather_deterioration    34992 non-null int64
swell                    34392 non-null float64
21229_GUST풍속 1(m/s)      8637 non-null float64
21229_GUST풍속(m/s)        26091 non-null float64
21229_기온(°C)             33915 non-null float64
21229_수온(°C)             34629 non-null float64
21229_습도(%)              33939 non-null float64
21229_유의파고(m)            34700 non-null float64
21229_일시                 34817 non-null float64
21229_최대파고(m)            34788 non-null float64
21229_파주기(sec)           34800 non-null float64
21229_파향(deg)            34808 non-null float64
21229_평균파고(m)            34606 non-null float64
21229_풍속(m/s)            26122 non-null float64
21229_풍속1(m/s)           8638 non-null float64
21229_풍향(deg)            26121 non-null float64
21229_풍향1(deg)           8639 non-null float64
21229_현지기압(hPa)          33945 non-null float64
22105_GUST풍속 1(m/s)      7978 non-null float64
22105_GUST풍속(m/s)        25301 non-null float64
22105_기온(°C)             33792 non-null float64
22105_수온(°C)             33912 non-null float64
22105_습도(%)              34071 non-null float64
22105_유의파고(m)            34028 non-null float64
22105_일시                 34088 non-null float64
22105_최대파고(m)            34070 non-null float64
22105_파주기(sec)           34038 non-null float64
22105_파향(deg)            34069 non-null float64
22105_평균파고(m)            33912 non-null float64
22105_풍속(m/s)            25304 non-null float64
22105_풍속1(m/s)           7981 non-null float64
22105_풍향(deg)            25293 non-null float64
22105_풍향1(deg)           7981 non-null float64
22105_현지기압(hPa)          33191 non-null float64
22106_GUST풍속 1(m/s)      7685 non-null float64
22106_GUST풍속(m/s)        25453 non-null float64
22106_기온(°C)             34124 non-null float64
22106_수온(°C)             34436 non-null float64
22106_습도(%)              33797 non-null float64
22106_유의파고(m)            34381 non-null float64
22106_일시                 34475 non-null float64
22106_최대파고(m)            34467 non-null float64
22106_파주기(sec)           34407 non-null float64
22106_파향(deg)            34444 non-null float64
22106_평균파고(m)            34290 non-null float64
22106_풍속(m/s)            25376 non-null float64
22106_풍속1(m/s)           7685 non-null float64
22106_풍향(deg)            25379 non-null float64
22106_풍향1(deg)           7845 non-null float64
22106_현지기압(hPa)          34290 non-null float64
22190_일시                 18029 non-null float64
22190_풍속(m/s)            17951 non-null float64
22190_풍향(deg)            17951 non-null float64
22190_GUST풍속(m/s)        17945 non-null float64
22190_현지기압(hPa)          18001 non-null float64
22190_습도(%)              17955 non-null float64
22190_기온(°C)             17875 non-null float64
22190_수온(°C)             18021 non-null float64
22190_최대파고(m)            17994 non-null float64
22190_유의파고(m)            17972 non-null float64
22190_평균파고(m)            17916 non-null float64
22190_파주기(sec)           18017 non-null float64
22190_파향(deg)            18020 non-null float64
dtypes: float64(62), int64(2), object(1)
memory usage: 17.6+ MB

In [3]:
test_list = df[df['swell'].isnull()]['hour'].tolist()
test_list[:5]

[2014051807, 2014051808, 2014051809, 2014051810, 2014051811]

### 20% 미만 제거

In [4]:
np.sum(df['22190_일시'].notnull())

18029

In [5]:
int(len(df) * 0.8)

27993

In [6]:
rm_feature = []
for col in df.columns:
    if np.sum(df[col].notnull()) < int(len(df)*0.8):
        rm_feature.append(col)

In [7]:
rm_feature

['21229_GUST풍속 1(m/s)',
 '21229_GUST풍속(m/s)',
 '21229_풍속(m/s)',
 '21229_풍속1(m/s)',
 '21229_풍향(deg)',
 '21229_풍향1(deg)',
 '22105_GUST풍속 1(m/s)',
 '22105_GUST풍속(m/s)',
 '22105_풍속(m/s)',
 '22105_풍속1(m/s)',
 '22105_풍향(deg)',
 '22105_풍향1(deg)',
 '22106_GUST풍속 1(m/s)',
 '22106_GUST풍속(m/s)',
 '22106_풍속(m/s)',
 '22106_풍속1(m/s)',
 '22106_풍향(deg)',
 '22106_풍향1(deg)',
 '22190_일시',
 '22190_풍속(m/s)',
 '22190_풍향(deg)',
 '22190_GUST풍속(m/s)',
 '22190_현지기압(hPa)',
 '22190_습도(%)',
 '22190_기온(°C)',
 '22190_수온(°C)',
 '22190_최대파고(m)',
 '22190_유의파고(m)',
 '22190_평균파고(m)',
 '22190_파주기(sec)',
 '22190_파향(deg)']

In [8]:
refine_df = df.drop(rm_feature, axis=1)
refine_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34992 entries, 0 to 34991
Data columns (total 34 columns):
hour                     34992 non-null int64
climate                  34992 non-null object
weather_deterioration    34992 non-null int64
swell                    34392 non-null float64
21229_기온(°C)             33915 non-null float64
21229_수온(°C)             34629 non-null float64
21229_습도(%)              33939 non-null float64
21229_유의파고(m)            34700 non-null float64
21229_일시                 34817 non-null float64
21229_최대파고(m)            34788 non-null float64
21229_파주기(sec)           34800 non-null float64
21229_파향(deg)            34808 non-null float64
21229_평균파고(m)            34606 non-null float64
21229_현지기압(hPa)          33945 non-null float64
22105_기온(°C)             33792 non-null float64
22105_수온(°C)             33912 non-null float64
22105_습도(%)              34071 non-null float64
22105_유의파고(m)            34028 non-null float64
22105_일시                 34088 non-null float64
22105_최대파고(m)            34070 non-null float64
22105_파주기(sec)           34038 non-null float64
22105_파향(deg)            34069 non-null float64
22105_평균파고(m)            33912 non-null float64
22105_현지기압(hPa)          33191 non-null float64
22106_기온(°C)             34124 non-null float64
22106_수온(°C)             34436 non-null float64
22106_습도(%)              33797 non-null float64
22106_유의파고(m)            34381 non-null float64
22106_일시                 34475 non-null float64
22106_최대파고(m)            34467 non-null float64
22106_파주기(sec)           34407 non-null float64
22106_파향(deg)            34444 non-null float64
22106_평균파고(m)            34290 non-null float64
22106_현지기압(hPa)          34290 non-null float64
dtypes: float64(31), int64(2), object(1)
memory usage: 9.3+ MB

In [9]:
refine_df['swell(t+1)'] = refine_df['swell'].shift(-1)

In [10]:
refine_df.head()

,hour,climate,weather_deterioration,swell,21229_기온(°C),21229_수온(°C),21229_습도(%),21229_유의파고(m),21229_일시,21229_최대파고(m),...,22106_수온(°C),22106_습도(%),22106_유의파고(m),22106_일시,22106_최대파고(m),22106_파주기(sec),22106_파향(deg),22106_평균파고(m),22106_현지기압(hPa),swell(t+1)
0,2014010407,0,0,0.0,3.6,13.5,72.0,2.1,2.014010e+09,3.8,...,12.9,48.0,1.4,2.014010e+09,2.0,5.8,352.0,1.0,1016.5,0.0
1,2014010408,0,0,0.0,3.4,13.5,74.0,2.3,2.014010e+09,3.9,...,12.9,47.0,1.4,2.014010e+09,2.1,5.3,356.0,1.0,1016.7,0.0
2,2014010409,0,0,0.0,2.8,13.5,70.0,2.4,2.014010e+09,4.0,...,12.9,70.0,1.4,2.014010e+09,1.9,5.8,339.0,1.0,1017.1,0.0
3,2014010410,0,0,0.0,2.4,13.6,71.0,2.7,2.014010e+09,3.8,...,12.9,66.0,1.4,2.014010e+09,2.3,6.4,353.0,1.0,1017.6,0.0
4,2014010411,0,0,0.0,2.5,13.5,71.0,2.5,2.014010e+09,3.5,...,12.9,72.0,1.5,2.014010e+09,2.5,6.4,2.0,1.0,1017.8,0.0

In [11]:
refine_df.fillna(method='ffill',inplace=True)

In [12]:
refine_df.columns

Index(['hour', 'climate', 'weather_deterioration', 'swell', '21229_기온(°C)',
       '21229_수온(°C)', '21229_습도(%)', '21229_유의파고(m)', '21229_일시',
       '21229_최대파고(m)', '21229_파주기(sec)', '21229_파향(deg)', '21229_평균파고(m)',
       '21229_현지기압(hPa)', '22105_기온(°C)', '22105_수온(°C)', '22105_습도(%)',
       '22105_유의파고(m)', '22105_일시', '22105_최대파고(m)', '22105_파주기(sec)',
       '22105_파향(deg)', '22105_평균파고(m)', '22105_현지기압(hPa)', '22106_기온(°C)',
       '22106_수온(°C)', '22106_습도(%)', '22106_유의파고(m)', '22106_일시',
       '22106_최대파고(m)', '22106_파주기(sec)', '22106_파향(deg)', '22106_평균파고(m)',
       '22106_현지기압(hPa)', 'swell(t+1)'],
      dtype='object')

In [13]:
swell_stack = []
swell_len = []
for swell in df['swell']:
    if swell == 0 and len(swell_stack) > 0:
        swell_len.append(len(swell_stack))
        swell_stack = []
    
    if swell == 0 and len(swell_stack) == 0:
        continue
        
    if swell == 1:
        swell_stack.append(1)

In [14]:
np.mean(swell_len)

20.25

In [15]:
in_seq = 20
features = ['hour', 'swell',
            '21229_기온(°C)',
           '21229_수온(°C)', '21229_습도(%)', '21229_유의파고(m)',
           '21229_최대파고(m)', '21229_파주기(sec)', '21229_파향(deg)', '21229_평균파고(m)',
           '21229_현지기압(hPa)', '22105_기온(°C)', '22105_수온(°C)', '22105_습도(%)',
           '22105_유의파고(m)', '22105_최대파고(m)', '22105_파주기(sec)',
           '22105_파향(deg)', '22105_평균파고(m)', '22105_현지기압(hPa)', '22106_기온(°C)',
           '22106_수온(°C)', '22106_습도(%)', '22106_유의파고(m)',
           '22106_최대파고(m)', '22106_파주기(sec)', '22106_파향(deg)', '22106_평균파고(m)',
           '22106_현지기압(hPa)'
           ]

In [16]:
temp_list = []
temp_names = []
for k in range(in_seq):
    temp_names += [(feature_name + '(t-%d)' % k) for feature_name in features]
    temp_list.append(refine_df[features].shift(-1 * k))
    if (k == in_seq - 1):
        temp_names += [('swell' + '(t-%d)' % in_seq)]
        temp_list.append(refine_df['swell'].shift(-1 * in_seq))

In [17]:
temp_df = pd.concat(temp_list, axis=1)
temp_df.columns = temp_names
temp_df.dropna(inplace=True)

In [18]:
temp_df.head()

,hour(t-0),swell(t-0),21229_기온(°C)(t-0),21229_수온(°C)(t-0),21229_습도(%)(t-0),21229_유의파고(m)(t-0),21229_최대파고(m)(t-0),21229_파주기(sec)(t-0),21229_파향(deg)(t-0),21229_평균파고(m)(t-0),...,22106_기온(°C)(t-19),22106_수온(°C)(t-19),22106_습도(%)(t-19),22106_유의파고(m)(t-19),22106_최대파고(m)(t-19),22106_파주기(sec)(t-19),22106_파향(deg)(t-19),22106_평균파고(m)(t-19),22106_현지기압(hPa)(t-19),swell(t-20)
0,2014010407,0.0,3.6,13.5,72.0,2.1,3.8,5.8,126.0,1.5,...,6.5,12.9,61.0,2.0,3.5,6.4,319.0,1.4,1019.4,0.0
1,2014010408,0.0,3.4,13.5,74.0,2.3,3.9,6.4,121.0,1.6,...,6.1,12.9,67.0,1.8,2.7,8.0,268.0,1.3,1020.0,0.0
2,2014010409,0.0,2.8,13.5,70.0,2.4,4.0,8.0,111.0,1.7,...,5.3,12.9,72.0,2.1,3.0,7.1,306.0,1.5,1020.3,0.0
3,2014010410,0.0,2.4,13.6,71.0,2.7,3.8,7.1,136.0,1.9,...,5.9,12.9,65.0,1.7,3.0,7.1,288.0,1.2,1020.2,0.0
4,2014010411,0.0,2.5,13.5,71.0,2.5,3.5,6.4,142.0,1.7,...,6.1,12.9,70.0,2.0,3.4,8.0,302.0,1.4,1020.2,0.0

In [19]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34972 entries, 0 to 34971
Columns: 581 entries, hour(t-0) to swell(t-20)
dtypes: float64(580), int64(1)
memory usage: 155.3 MB

In [20]:
for seq in range(in_seq):
    print(seq)
    temp_df['hour(t-%s)'%seq] = temp_df['hour(t-%s)'%seq].astype(int)
    if seq == 0:
        temp_df.set_index('hour(t-%s)'%seq,drop=False,inplace=True)
    else:
        temp_df.set_index('hour(t-%s)'%seq,drop=True,inplace=True)
    temp_df.drop(test_list,inplace=True,errors='ignore')

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [21]:
temp_df.set_index('hour(t-0)',drop=True,inplace=True)
temp_df.head()

,swell(t-0),21229_기온(°C)(t-0),21229_수온(°C)(t-0),21229_습도(%)(t-0),21229_유의파고(m)(t-0),21229_최대파고(m)(t-0),21229_파주기(sec)(t-0),21229_파향(deg)(t-0),21229_평균파고(m)(t-0),21229_현지기압(hPa)(t-0),...,22106_기온(°C)(t-19),22106_수온(°C)(t-19),22106_습도(%)(t-19),22106_유의파고(m)(t-19),22106_최대파고(m)(t-19),22106_파주기(sec)(t-19),22106_파향(deg)(t-19),22106_평균파고(m)(t-19),22106_현지기압(hPa)(t-19),swell(t-20)
hour(t-0),,,,,,,,,,,,,,,,,,,,,
2014010407,0.0,3.6,13.5,72.0,2.1,3.8,5.8,126.0,1.5,1015.3,...,6.5,12.9,61.0,2.0,3.5,6.4,319.0,1.4,1019.4,0.0
2014010408,0.0,3.4,13.5,74.0,2.3,3.9,6.4,121.0,1.6,1016.5,...,6.1,12.9,67.0,1.8,2.7,8.0,268.0,1.3,1020.0,0.0
2014010409,0.0,2.8,13.5,70.0,2.4,4.0,8.0,111.0,1.7,1016.9,...,5.3,12.9,72.0,2.1,3.0,7.1,306.0,1.5,1020.3,0.0
2014010410,0.0,2.4,13.6,71.0,2.7,3.8,7.1,136.0,1.9,1017.1,...,5.9,12.9,65.0,1.7,3.0,7.1,288.0,1.2,1020.2,0.0
2014010411,0.0,2.5,13.5,71.0,2.5,3.5,6.4,142.0,1.7,1019.1,...,6.1,12.9,70.0,2.0,3.4,8.0,302.0,1.4,1020.2,0.0

In [22]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33897 entries, 2014010407 to 2017123110
Columns: 561 entries, swell(t-0) to swell(t-20)
dtypes: float64(561)
memory usage: 145.3 MB

In [23]:
X = temp_df.drop(['swell(t-20)'],axis=1).values.reshape(-1,in_seq,len(features)-1)
Y = temp_df['swell(t-20)'].values

In [24]:
print(X.shape, Y.shape)

(33897, 20, 28) (33897,)

### lstm model

In [79]:
from keras.layers import Input, LSTM, Dense, BatchNormalization
from keras.models import Model

In [87]:
def baseline_model(shape, batch_size):
    main_input = Input(shape=(shape[1], shape[2]),
                       batch_shape=(batch_size, shape[1], shape[2]), name='main_input')

    x = LSTM(128, return_sequences=True, stateful=True)(main_input)
    x = LSTM(128, return_sequences=True, stateful=True)(x)
    x = LSTM(128, return_sequences=True, stateful=True)(x)
    x = LSTM(128, stateful=True)(x)

    x = BatchNormalization()(x)
    x = Dense(64, activation='relu')(x)
    x = BatchNormalization()(x)
    x = Dense(32, activation='relu')(x)
    x = BatchNormalization()(x)
    main_output = Dense(1, activation='sigmoid')(x)

    model = Model(inputs=main_input, outputs=main_output)
    model.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])
    model.summary()
    return model

In [88]:
model = baseline_model((-1,20,28),batch_size=100)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
main_input (InputLayer)      (100, 20, 28)             0
_________________________________________________________________
lstm_29 (LSTM)               (100, 20, 128)            80384
_________________________________________________________________
lstm_30 (LSTM)               (100, 20, 128)            131584
_________________________________________________________________
lstm_31 (LSTM)               (100, 20, 128)            131584
_________________________________________________________________
lstm_32 (LSTM)               (100, 128)                131584
_________________________________________________________________
batch_normalization_4 (Batch (100, 128)                512
_________________________________________________________________
dense_22 (Dense)             (100, 64)                 8256
_________________________________________________________________
batch_normalization_5 (Batch (100, 64)                 256
_________________________________________________________________
dense_23 (Dense)             (100, 32)                 2080
_________________________________________________________________
batch_normalization_6 (Batch (100, 32)                 128
_________________________________________________________________
dense_24 (Dense)             (100, 1)                  33
=================================================================
Total params: 486,401
Trainable params: 485,953
Non-trainable params: 448
_________________________________________________________________

In [89]:
model.fit(X[:30000],Y[:30000],batch_size=100,epochs=2)

Epoch 1/2
30000/30000 [==============================] - 100s - loss: 0.4024 - acc: 0.8922
Epoch 2/2
30000/30000 [==============================] - 96s - loss: 0.2801 - acc: 0.9231

### evaluate

In [83]:
score, acc = model.evaluate(X[30000:33800],Y[30000:33800],batch_size=100)
print(score, acc)

3800/3800 [==============================] - 4s
0.209566345929 0.952894736277

In [84]:
pred = model.predict(X[30000:33800],batch_size=100)
pd.Series(pred.reshape(-1,)).value_counts()

0.016044    54
0.016044    44
0.016044    44
0.016038    41
0.016762    38
0.015968    38
0.017868    38
0.016011    38
0.016001    38
0.016044    37
0.016011    37
0.016016    37
0.016041    36
0.016030    36
0.015927    36
0.015906    34
0.015946    34
0.017820    34
0.016043    33
0.015953    33
0.017692    33
0.018080    33
0.016044    32
0.015977    32
0.016008    31
0.015936    30
0.016537    30
0.018161    28
0.016044    28
0.016044    28
            ..
0.018100     1
0.017001     1
0.018100     1
0.018126     1
0.017692     1
0.016042     1
0.016007     1
0.018064     1
0.015906     1
0.016038     1
0.016044     1
0.018007     1
0.018126     1
0.016043     1
0.016024     1
0.016036     1
0.016690     1
0.016038     1
0.016007     1
0.018064     1
0.015977     1
0.016004     1
0.016689     1
0.015961     1
0.016040     1
0.016040     1
0.016042     1
0.016044     1
0.015906     1
0.016044     1
Length: 530, dtype: int64

In [78]:
np.sum([0]*3800 == Y[30000:33800]) / 3800

0.95289473684210524

In [67]:
pd.Series(Y[:30000]).value_counts()

0.0    27692
1.0     2308
dtype: int64

In [71]:
np.sum([0]*30000 == Y[:30000]) / 30000

0.9230666666666667