In [1]:
import pandas as pd
import os
import os.path as osp

In [2]:
dataset_abs_path = '/Users/myZZUNG/myworkspace/posco_ai_challenge/dataset/1. 도전과제/'
dataset_name = '[과제3] 식당 메뉴 및 식사인원.xlsx'

In [4]:
d = pd.ExcelFile(osp.join(dataset_abs_path, dataset_name))
d.sheet_names

['설명', '식사인원', '메뉴']

In [5]:
data1 = d.parse('식사인원')
data1.head(5)

   매출일자          품명           수량
1  20030301  아침식사      37.472924
2  20030301  점심식사      31.191336
3  20030301  저녁식사      19.566787
4  20030302  아침식사      36.101083
5  20030302  점심식사      33.357401

In [7]:
data1['수량']

1        37.472924
2        31.191336
3        19.566787
4        36.101083
5        33.357401
6        21.949458
7        47.942238
8        58.483755
9        22.166065
10       86.787004
11       59.350181
12       28.086643
13       48.375451
14       52.635379
15       26.209386
16       43.682310
17       40.072202
18       20.216606
19       47.797834
20       49.819495
21       18.628159
22       43.249097
23       42.743682
24       17.400722
25       38.050542
26       36.750903
27       20.144404
28       49.097473
29       53.935018
30       26.064982
           ...
33253     9.891697
33254    14.440433
33255    12.707581
33256    11.119134
33257    14.873646
33258     9.169675
33259    11.407942
33260     8.519856
33261     7.942238
33262    13.790614
33263    11.985560
33264     9.169675
33265     8.880866
33266     7.075812
33267    10.397112
33268     5.776173
33269    13.862816
33270    12.129964
33271     5.126354
33272     2.021661
33273     4.548736
33274     7.148014
33275     8.664260
33276    12.707581
33277     9.458484
33278     4.693141
33279     3.465704
33280     3.249097
33281     7.797834
33282     3.610108
Name: 수량, Length: 33282, dtype: float64