In [1]:
import pandas as pd
import numpy as np

In [2]:
ex = pd.ExcelFile("data/[과제3] 식당 메뉴 및 식사인원.xlsx")

# Menu

In [3]:
menu = ex.parse("메뉴")
print(menu.info())
menu.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24860 entries, 1 to 24860
Data columns (total 3 columns):
일자      24860 non-null int64
식사명     24860 non-null object
식사내용    24860 non-null object
dtypes: int64(1), object(2)
memory usage: 776.9+ KB
None

         일자    식사명                                              식사내용
1  20030301   아침식사                    과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥
2  20030301  아침식사2  딸기잼(중),비엔나구이,스크램블에그(경양식),야채샐러드,크림스프(경양식),토스트&모닝빵
3  20030301   점심식사                  골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수
4  20030301   저녁식사                       감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프
5  20030302   아침식사                  계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침

### 식사명 value를 submission 기준으로 변경

In [4]:
menu['식사명'].unique()

array(['아침식사', '아침식사2', '점심식사', '저녁식사', '점심식사2'], dtype=object)

In [5]:
name_table = {'아침식사' : '아침',
              '아침식사2' : '아침',
              '점심식사' : '점심(일반)', 
              '점심식사2' : '점심(양식)', 
              '저녁식사' : '저녁'}
menu['식사명'] = [name_table[name] for name in menu['식사명']]
menu.head()

         일자     식사명                                              식사내용
1  20030301      아침                    과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥
2  20030301      아침  딸기잼(중),비엔나구이,스크램블에그(경양식),야채샐러드,크림스프(경양식),토스트&모닝빵
3  20030301  점심(일반)                  골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수
4  20030301      저녁                       감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프
5  20030302      아침                  계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침

### ['일자', '식사명']을 key로 식사내용 병합 (식사내용 string concat with comma)

In [6]:
menu = menu.groupby(by=['일자','식사명'], as_index=False).agg(lambda x : ",".join(x))
menu.head()

         일자     식사명                                               식사내용
0  20030301      아침  과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...
1  20030301      저녁                        감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프
2  20030301  점심(일반)                   골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수
3  20030302      아침  계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...
4  20030302      저녁                          계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두

# Meals

In [7]:
label = ex.parse("식사인원")
print(label.info())
label.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33282 entries, 1 to 33282
Data columns (total 3 columns):
매출일자        33282 non-null int64
품명          33282 non-null object
수량          32248 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.0+ MB
None

   매출일자          품명           수량
1  20030301  아침식사      37.472924
2  20030301  점심식사      31.191336
3  20030301  저녁식사      19.566787
4  20030302  아침식사      36.101083
5  20030302  점심식사      33.357401

### Column 이름을 Menu table과 동일하게 변경

In [8]:
label.columns[0]

'매출일자\x00\x00\x00\x00'

In [9]:
label.columns[1]

'품명\x00\x00'

In [10]:
label['일자'] = label['매출일자\x00\x00\x00\x00']
label['식사명'] = label['품명\x00\x00']
label = label.drop(['매출일자\x00\x00\x00\x00', '품명\x00\x00'], axis=1)
label.head()

          수량        일자       식사명
1  37.472924  20030301  아침식사    
2  31.191336  20030301  점심식사    
3  19.566787  20030301  저녁식사    
4  36.101083  20030302  아침식사    
5  33.357401  20030302  점심식사    

### 식사명 value를 submission 기준으로 변경

In [11]:
label['식사명'].unique()

array(['아침식사\x00\x00\x00\x00', '점심식사\x00\x00\x00\x00',
       '저녁식사\x00\x00\x00\x00', '점심식사1\x00\x00\x00\x00',
       '아침식사1\x00\x00\x00\x00', '저녁식사1\x00\x00\x00\x00',
       '점심식사2(양식)\x00\x00\x00\x00\x00\x00'], dtype=object)

In [12]:
name_table = {'아침식사\x00\x00\x00\x00' : '아침',
              '아침식사1\x00\x00\x00\x00' : '아침',
              '점심식사\x00\x00\x00\x00' : '점심(일반)', 
              '점심식사1\x00\x00\x00\x00' : '점심(일반)', 
              '점심식사2(양식)\x00\x00\x00\x00\x00\x00' : '점심(양식)', 
              '저녁식사\x00\x00\x00\x00' : '저녁',
              '저녁식사1\x00\x00\x00\x00' : '저녁'}

label['식사명'] = [name_table[name] for name in label['식사명']]
label.head()

          수량        일자     식사명
1  37.472924  20030301      아침
2  31.191336  20030301  점심(일반)
3  19.566787  20030301      저녁
4  36.101083  20030302      아침
5  33.357401  20030302  점심(일반)

### ['일자', '식사명']을 key로 식사내용 병합 (수량 sum)

In [13]:
label = label.groupby(by=['일자','식사명'], as_index=False).sum()
label['수량'][label.수량 == 0] = np.nan
label.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         일자     식사명         수량
0  20030301      아침  37.472924
1  20030301      저녁  19.566787
2  20030301  점심(일반)  31.191336
3  20030302      아침  36.101083
4  20030302      저녁  21.949458

# Menu와 Label 테이블 병합

In [14]:
df = pd.merge(menu, label, how="right", on=["일자", "식사명"])
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20606 entries, 0 to 20605
Data columns (total 4 columns):
일자      20606 non-null int64
식사명     20606 non-null object
식사내용    20606 non-null object
수량      20010 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 804.9+ KB
None

,일자,식사명,식사내용,수량
0,20030301,아침,"과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...",37.472924
1,20030301,저녁,"감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프",19.566787
2,20030301,점심(일반),"골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수",31.191336
3,20030302,아침,"계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...",36.101083
4,20030302,저녁,"계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두",21.949458

### test data 분리 (수량=NaN -> test data)

In [15]:
test_df = df[df.isnull().any(axis=1)].reset_index(drop=True)
test_df.drop(['수량'], axis=1, inplace=True)
print(test_df.info())
test_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 3 columns):
일자      596 non-null int64
식사명     596 non-null object
식사내용    596 non-null object
dtypes: int64(1), object(2)
memory usage: 14.0+ KB
None

         일자     식사명                                               식사내용
0  20100713      아침  누룽지,닭살찜닭소스조림,두유,멸치볶음,배추김치,쌀밥,열무된장무침,콩나물국,딸기잼(1...
1  20100713      저녁                배추김치,손만두국,쌀밥,애느타리볶음,오징어잔파무침,치커리사과생채
2  20100713  점심(양식)                 단무지,배추김치,쌀밥,야채샐러드,야채스프,치즈함박스테이크&데미
3  20100713  점심(일반)       깍두기(손칼),돈등뼈감자탕,두부달걀전,쌀밥,쫄면야채무침,토마토화채,풋고추된장무침
4  20100714      아침  배추김치,쇠고기가지볶음,시금치된장국,쌀밥,야채죽,진미도라지무침,팽이계란전,화인쿨,딸...

In [16]:
test_df.to_excel('data/test.xlsx', index=False, sheet_name='sheet1')

### 나머지는 train data

In [17]:
train_df = df.dropna()
print(train_df.info())
train_df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20010 entries, 0 to 20605
Data columns (total 4 columns):
일자      20010 non-null int64
식사명     20010 non-null object
식사내용    20010 non-null object
수량      20010 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 781.6+ KB
None

,일자,식사명,식사내용,수량
0,20030301,아침,"과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...",37.472924
1,20030301,저녁,"감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프",19.566787
2,20030301,점심(일반),"골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수",31.191336
3,20030302,아침,"계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...",36.101083
4,20030302,저녁,"계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두",21.949458

In [18]:
train_df.to_excel("data/train.xlsx", index=False, sheet_name='sheet1')