In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("data/train.xlsx")
df.head()

,일자,식사명,식사내용,수량
0,20030301,아침,"과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...",37.472924
1,20030301,저녁,"감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프",19.566787
2,20030301,점심(일반),"골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수",31.191336
3,20030302,아침,"계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...",36.101083
4,20030302,저녁,"계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두",21.949458

## Normalize Date
* Year : min-max scaling [0,1]
* Month : (sin,cos) transform [-1,1]
* Day : (sin,cos) transform [-1,1]

In [3]:
df['year'] = (df['일자'] / 10000).astype(int)
df['month'] = (df['일자'] % 10000 / 100).astype(int)
df['day'] = (df['일자'] % 100).astype(int)
df.drop(['일자'], axis=1, inplace=True)
df.head()

,식사명,식사내용,수량,year,month,day
0,아침,"과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...",37.472924,2003,3,1
1,저녁,"감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프",19.566787,2003,3,1
2,점심(일반),"골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수",31.191336,2003,3,1
3,아침,"계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...",36.101083,2003,3,2
4,저녁,"계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두",21.949458,2003,3,2

In [4]:
df['year'] = (df['year']-min(df['year'])) / (max(df['year'])-min(df['year']))
df['month_sin'] = [np.sin(x*2*np.pi/12) for x in df['month']]
df['month_cos'] = [np.cos(x*2*np.pi/12) for x in df['month']]
df['day_sin'] = [np.sin(x*2*np.pi/31) for x in df['day']]
df['day_cos'] = [np.cos(x*2*np.pi/31) for x in df['day']]
df.drop(['month', 'day'], axis=1, inplace=True)
df.head()

,식사명,식사내용,수량,year,month_sin,month_cos,day_sin,day_cos
0,아침,"과일샐러드,닭죽,돈육마늘장조림,떡만두국,부추김무침,쌀밥,딸기잼(중),비엔나구이,스크...",37.472924,0.0,1.0,6.123234e-17,0.201299,0.979530
1,저녁,"감자으깸샐러드,비프까스,스위트피클,쌀밥,옥수수스프",19.566787,0.0,1.0,6.123234e-17,0.201299,0.979530
2,점심(일반),"골뱅이야채무침,새우맛살튀김,쌀밥(사무직),열무겉절이,칼국수",31.191336,0.0,1.0,6.123234e-17,0.201299,0.979530
3,아침,"계란죽,곤약멸치조림,김치국,마카로니샐러드,쌀밥,오징어회무침,딸기잼(중),삶은계란,야...",36.101083,0.0,1.0,6.123234e-17,0.394356,0.918958
4,저녁,"계란탕,단무지잔파무침,자장소스,잡채밥,탕수만두",21.949458,0.0,1.0,6.123234e-17,0.394356,0.918958

## Convert 식사명 to One-hot Vector

## Convert 식사내용 to Vector based on Bag-of-Word

## Save to file